# Setup environment and load data

Dataset: https://s3.hothienlac.com/yomitoon/sales_data.csv

In [83]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [84]:
df = pd.read_csv('https://s3.hothienlac.com/yomitoon/sales_data.csv')

# ðŸŸ¢ LEVEL 1 â€” Basic Data Understanding (Score 1â€“3)

## **Q1. Load and inspect the dataset**

### Task

Load the CSV file and:

1. Display the first 5 rows
2. Show column names and data types

### ðŸ’¡ Hint

Use:

* `pd.read_csv`
* `.head()`
* `.info()`

### ðŸ“š Reference

* [https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html)
* [https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html)

### ðŸ§  Explanation

You are learning how to **inspect unfamiliar data** quickly and verify that Pandas interpreted types correctly (dates, numbers, strings).

In [85]:
df.head(5)

,order_id,order_date,customer_id,customer_name,city,product,category,quantity,unit_price,payment_method
0,1001,2024-01-02,C001,Alice,New York,Laptop,Electronics,1,1200,Credit Card
1,1002,2024-01-02,C002,Bob,Los Angeles,Headphones,Electronics,2,150,PayPal
2,1003,2024-01-03,C003,Charlie,New York,Office Chair,Furniture,1,350,Credit Card
3,1004,2024-01-03,C001,Alice,New York,Mouse,Electronics,3,25,Debit Card
4,1005,2024-01-04,C004,Diana,Chicago,Desk,Furniture,1,500,Bank Transfer

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        10 non-null     int64
 1   order_date      10 non-null     object
 2   customer_id     10 non-null     object
 3   customer_name   10 non-null     object
 4   city            10 non-null     object
 5   product         10 non-null     object
 6   category        10 non-null     object
 7   quantity        10 non-null     int64
 8   unit_price      10 non-null     int64
 9   payment_method  10 non-null     object
dtypes: int64(3), object(7)
memory usage: 932.0+ bytes

## **Q2. Create a new column for total order value**

### Task

Create a new column called `total_amount`
Formula:

```
quantity Ã— unit_price
```

### ðŸ’¡ Hint

Use:

* `.assign()`

### ðŸ“š Reference

* [https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.assign.html](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.assign.html)

### ðŸ§  Explanation

This teaches **feature engineering** and the **functional Pandas mindset** (`inplace=False`, return a new DataFrame).

In [87]:
df_total = df.assign(total_amount = lambda data: data['quantity'] * data['unit_price'])

# ðŸŸ¡ LEVEL 2 â€” Filtering & Simple Analysis (Score 4â€“6)

## **Q3. Filter high-value orders**

### Task

Select only orders where:

* `total_amount > 500`

### ðŸ’¡ Hint

Use **one** of:

* `.query()`
* Boolean indexing (`df[condition]`)

### ðŸ“š Reference

* [https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.query.html](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.query.html)

### ðŸ§  Explanation

Filtering is the foundation of **real data analysis**.
You learn how Pandas handles **boolean logic**.

In [88]:
df_total[df_total['total_amount'] > 500]

,order_id,order_date,customer_id,customer_name,city,product,category,quantity,unit_price,payment_method,total_amount
0,1001,2024-01-02,C001,Alice,New York,Laptop,Electronics,1,1200,Credit Card,1200
5,1006,2024-01-04,C005,Eve,Chicago,Laptop,Electronics,1,1100,Credit Card,1100
6,1007,2024-01-05,C002,Bob,Los Angeles,Monitor,Electronics,2,300,Debit Card,600
8,1009,2024-01-06,C006,Frank,Miami,Tablet,Electronics,1,600,Credit Card,600

## **Q4. Count how many orders each customer made**

### Task

Create a table showing:

* `customer_id`
* number of orders per customer

### ðŸ’¡ Hint

Use:

* `.groupby()`
* `.count()` **or** `.size()`

### ðŸ“š Reference

* [https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html)

### ðŸ§  Explanation

You learn how Pandas **splits data into groups** and applies calculations per group.

In [89]:
df_total.groupby('customer_id').size()

customer_id
C001    3
C002    2
C003    2
C004    1
C005    1
C006    1
dtype: int64

# ðŸ”´ LEVEL 3 â€” Aggregation & Time Awareness (Score 7â€“10)

## **Q5. Calculate total spending per customer**

### Task

For each `customer_id`, compute:

* Total money spent

### ðŸ’¡ Hint

Use:

* `.groupby()`
* `.agg()`

### ðŸ“š Reference

* [https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.agg.html](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.agg.html)

### ðŸ§  Explanation

This introduces **aggregation pipelines** and prepares you for more complex analytics.

In [90]:
df_total.groupby('customer_id').agg({'total_amount': ['sum']})

            total_amount
                     sum
customer_id
C001                1355
C002                 900
C003                 440
C004                 500
C005                1100
C006                 600

## **Q6. Daily revenue analysis**

*   List item
*   List item



### Task

Calculate:

1. Total revenue per day
2. Sort results by date

### ðŸ’¡ Hint

Use:

* `parse_dates` in `read_csv`
* `.groupby()`
* `.sort_values()`

### ðŸ“š Reference

* [https://pandas.pydata.org/docs/user_guide/timeseries.html](https://pandas.pydata.org/docs/user_guide/timeseries.html)

### ðŸ§  Explanation

Time-based grouping is essential for **business dashboards and reports**.

In [91]:
df_total.groupby('order_date').agg({'total_amount': ['sum']}).sort_values([('total_amount', 'sum')], ascending = True)

           total_amount
                    sum
order_date
2024-01-03          425
2024-01-06          680
2024-01-05          690
2024-01-02         1500
2024-01-04         1600

In [92]:
df_total.groupby('order_date').agg({'total_amount': ['sum', 'mean']}).columns

MultiIndex([('total_amount',  'sum'),
            ('total_amount', 'mean')],
           )

## **Q7. Rank customers by spending**

### Task

Rank customers from highest to lowest total spending.

### ðŸ’¡ Hint

Use:

* `.rank()`

### ðŸ“š Reference

* [https://pandas.pydata.org/docs/reference/api/pandas.Series.rank.html](https://pandas.pydata.org/docs/reference/api/pandas.Series.rank.html)

### ðŸ§  Explanation

Ranking teaches you how Pandas handles **ordering, ties, and numeric comparisons**.

---

In [93]:
df_total.groupby('customer_id').sum('total_amount')['total_amount'].rank(ascending=False)

customer_id
C001    1.0
C002    3.0
C003    6.0
C004    5.0
C005    2.0
C006    4.0
Name: total_amount, dtype: float64

In [94]:
df_total.groupby('customer_id').sum('total_amount')

             order_id  quantity  unit_price  total_amount
customer_id
C001             3015         5        1305          1355
C002             2009         4         450           900
C003             2011         3         395           440
C004             1005         1         500           500
C005             1006         1        1100          1100
C006             1009         1         600           600

# ðŸŽ¯ Learning Outcome by Level

| Level | You can nowâ€¦                             |
| ----- | ---------------------------------------- |
| 1     | Load, inspect, create columns            |
| 2     | Filter and group data                    |
| 3     | Aggregate, rank, and analyze time series |